html {
  font-family: "Google Sans", sans-serif;
  background-image: url("../images/firefox-icon2.png");
  background-color: #00539f;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

.main {
  width: 600px;
  margin: 20px auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 200px;
  height: 200px;
}

.firefoximage {
  text-align: center;
  font-size: 30px;
  color: #00539f;
  text-shadow: 1px 1px 5px black;
}

.btn1 {
  border: none;
  background-color: #00539f;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
}

.btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.btn1:hover span {
  padding-right: 25px;
}

.btn1:hover span:after {
  opacity: 1;
  right: 0;
}

.socialmedia {
  font-size: 20px;
}

.fa {
  padding: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}